@media (max-width: 1200px) {
    .resume {
        padding-top: 60px;

        &__wrapper {
            padding: 0 0 0 8px;
            gap: 20px;
        }
    }
}

@media (max-width: 768px) {
    .resume {
        padding-top: 30px;

        &__wrapper {
            grid-template-columns: 1fr;
        }
    }
}

@media (max-width: 576px) {
    .resume {
        padding-top: 40px;
    }
}